body {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  white-space: nowrap;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 6px 10px;
}

pre, code {
  white-space: pre;
}
